<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  </head>

  <body>

    <!-- ヘッダーエリア -->
    <% if logged_in? %>
      <%= link_to("Users","#") %>
      <%= link_to("Profile","#") %>
      <%= link_to("Settings","#") %>
      <%= link_to("Log out",logout_path, method: :delete) %>
    <% else %>
      <%= link_to("Log in",login_path) %>
      <%= link_to("Sign up",user_new_path) %>
    <% end %>

    <!-- フラッシュメッセージ -->
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>


    <%= yield %>
  </body>
</html>
